{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form method = "POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="pt-4 h2 text-center text-primary"><u>Change Password</u></legend>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">{{message}}</div>
            {% endfor %}
        {% endif %}
        <div class="card col-md-8 mx-auto p-4 shadow-sm">
            {{form | crispy}}
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Change Password">
            <a href="{% url 'settings' %}" class="btn btn-sm btn-outline-info">Cancel</a>
        </div>
        </div>
    </fieldset>
</form>
{% endblock %}